body {
  padding-left: 5em;
  font-family: Helvetica, "Helvetica",
        Times, serif;
  color: #9966FF;
  background-color: white; }
  
  
  h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif
	 }
h1 {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	font-size: 65px;
	color: #000;
	}


li	{
	display:inline;
	text-decoration: none;
	font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
	color: #000;
}

a:link { 
color: white; 
background-color: #000;
text-decoration: none;
border: 4px solid #000; 



}
a:visited { 
color: white; 
background-color: #000;
text-decoration: none;
border: 4px solid #000; 


}
a:hover {
	color: white;
	background-color: #FFF;
	text-decoration: none;
	border: 4px solid #FFF;
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;

} 

ul.navbar {
  list-style-type: none;
  padding: 0px;
}


.griditem {
	height: 700px;
	width: 500px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #606060;
	padding: 0px;
	padding-top: 150px;
	margin: 0px;
	border: 0px solid #000;
	display: inline-block;
}

.griditem2 {
	height: 700px;
	width: 500px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #606060;
	padding: 100px;
	padding-top: 150px;
	margin: 0px;
	border: 0px solid #000;
	display: inline-block;
}

.griditem3 {
	height: 700px;
	width: 500px;
	color: #606060;
	padding: 200px;
	padding-top: 150px;
	margin: 0px;
	border: 0px solid #000;
	display: inline-block;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.griditem4 {
	height: 700px;
	width: 500px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #606060;
	padding: 300px;
	padding-top: 150px;
	margin: 0px;
	border: 0px solid #000;
	display: inline-block;
}

.d {
	font-weight: bold;
}
